
body  {
	text-align:left;
	padding-left: 40px;
	font-family: 'Open Sans', sans-serif;
	background-image: url(images/code.jpeg);
	background-size: cover;
	color: white;
}

#perfil{
	border-radius: 7px;
	margin-top: 30px;
	margin-left: 50px;
}

#ID {
	width: 300px;
	height: 50px;
	margin-left: 20px;
	display: inline;
}



h1 {
	font-size: 32px;
	padding-top: 20px;
	text-shadow: 1px 1px 1px gray;
	margin-bottom: 10px; 
	padding-top: 10px;
	margin-top: 10px;
}


h2{
	margin-bottom: 10px;
	font-size: 26px;
}


p{
	font-size: 20px;
	margin-bottom: 30px;
	font-family: 'Raleway', sans-serif;
}

h3{
	margin-top: 50px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 10px;
}


#why{
font-size: 18px;
font-family: 'Raleway', sans-serif;
margin-bottom: 10px;
width:700px;
border-color: #053C5E;
box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
border-radius: 4px;
margin: 20px 0px;
}
	

.data {
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	margin-top: 10px;
}



.botao {
	text-decoration: none;
	background-color: rgb(70,130,180);
	color: white;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: bold;
	padding: 15px 20px 15px 20px;
	border-radius: 4px;
	margin-top: 20px;
	margin-bottom: 65px;
	margin-left: 106px;
}

.botao:hover{
	background-color: rgba(95,158,160);
}



.lista{
	list-style: none;
	text-align:center;
	padding-left: 0;
	margin-top: 40px;
}

.lista li {
	display: inline;
}

.lista a {
	color: white;
	font-size: 25px;

}